{
  "overrides": [
    {
      "parser": "babel-eslint",
      "parserOptions": {
        "allowImportExportEverywhere": true,
        "sourceType": "module"
      },
      "files": ["**/*.js"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
